@model StudentCard
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="w-100 card border-0">
    <div class="card-header bg-info bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-2">Delet Student</h1>
            </div>
        </div>
    </div>
</div>
<div class="card-body border-4">
    <form method="post" class="row">

        <input asp-for="Id" hidden />
        <div class="col-8">
            <div class="p-3">

                @* <div class="form-floating py-2 col-10">
                <select asp-for="@Model.StudentCard.StudentID" hidden asp-items="@Model.Students" class="form-select border shadow">
                <option disabled selected>--Select Villa--</option>
                </select>
                <input asp-for="@Model.StudentCard.StudentID" disabled class="form-control border shadow" />
                <label asp-for="StudentCard.StudentID" class="ms-2"></label>

                </div> *@
                <div class="form-floating py-2 col-10">
                    <input asp-for="@Model.Student.Student_Number" disabled class="form-control border shadow" />
                    <label asp-for="Student.Student_Number" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-10">
                    <input asp-for="@Model.Student.Title" disabled class="form-control border shadow" />
                    <label asp-for="Student.Title" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-10">
                    <input asp-for="@Model.Student.Initials" disabled class="form-control border shadow" />
                    <label asp-for="Student.Initials" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-10">
                    <input asp-for="@Model.Student.Surname" disabled class="form-control border shadow" />
                    <label asp-for="Student.Surname" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-10">
                    <input asp-for="@Model.Year" disabled class="form-control border shadow" />
                    <label asp-for="Year" class="ms-2"></label>

                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class=" btn btn-danger w-100" >
                            <i class="bi bi-trash-fill"> Delete</i>
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="StudentCard" asp-route-user="@UserManager.GetUserName(User)" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"> Cancel</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating py-2 col-4">
                <img src="@Model.ImageUrl" width="300px" height="200px"
                     style="border-radius:5px; border:1px solid #bbb9b9" />


            </div>
        </div>

    </form>

</div>

@* @section Scripts{
    @{
        <partial name="_ValidationScripsPartial" />
    }
} *@